    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post.url %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
